/* Importando uma fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Definindo uma fonte personalizada */
@font-face {
    font-family: 'Idroid';
    src: url(../fontes/IDroid.otf) format('opentype');
    font-weight: normal;
}

/* Definindo variáveis de cor e fonte */
:root{
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;
  --fonte0: Arial, Helvetica, sans-serif;
  --fonte1:'Bebas Neue', cursive;
  --fonte2: 'Idroid', sans-serif;
}

/* Resetando as margens e paddings de todos os elementos */
*{
  margin: 0px;
  padding: 0px;
}

/* Estilos gerais do body */
body{
  font-family: var(--fonte0);
  background-color: var(--cor0);
  margin: 0px;
}
a.externo::after{
  content: '\0020\1F517';
}

/* Estilos do cabeçalho */
header{
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 55px;
}

header h1{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
  font-family: var(--fonte1);
  color: var(--cor0);
  font-size: 3em;
  margin-bottom: 20px;
}

header p{
  text-align: center;
  font-size: 1.2em;
  font-family: var(--fonte0);
  color: var(--cor0);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
  max-width: 600px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  
}


/* Estilos do menu */
nav{
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}
nav a{
  color: var(--cor1);
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.6s;
}
nav a:hover{
  background-color: var(--cor3);
  color: var(--cor5);

}

/* Estilos do conteúdo principal */
main{
  padding: 30px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  min-width: 280px;
  max-width: 800px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

main h1{
  margin-top: 5px;
  font-family: var(--fonte2);
  color: var(--cor5);
  font-size: 1.8em;
}

main h2{
  margin-top: 10px;
  font-family: var(--fonte2);
  color: var(--cor4);
  font-size: 1.3em;
  background-image: linear-gradient(to right, var(--cor1), transparent);
  text-indent: 8px;
} 

main p{
  margin: 15px 0px;
  line-height: 2em;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
}
main strong{
  color: var(--cor4);
  font-weight: bold;
  padding: 2px 8px;
}
main a{
  text-decoration: none;
  font-weight: bold;
  color: var(--cor5);
  background-color: var(--cor1);
  padding: 2px 6px;
}
main a:hover{
  text-decoration: underline;
  color: var(--cor4);
}
main img.pequena{
  max-width: 350px;
  display: block;
  margin: auto;
}
.imagem{
  width: 100%;
}

.container-video{
  border-radius: 10px;
  margin: 10px -20px 0px -20px;
  max-width: 800px;
  text-align: center;
  background-color: var(--cor4);
  height: 400px;
  padding: 20px;
  
}

.video{
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;

}

aside{
  background-color: var(--cor1);
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.280);
}
aside h3{
  background-color: var(--cor4);
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}
ul{
  list-style-type: '\2714\0020\0020';
  columns: 2;
  list-style-position: inside;
  text-align: justify;
}

abbr{
  text-decoration: none;
}

footer{
  margin-top: 10px;
  background-color: var(--cor5);
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 0.9em;
}
footer a{
  color: white;
  text-decoration: none;
  font-weight: bold
}
footer a:hover{
  text-decoration: underline;
  color: var(--cor1);
}
